<nav class="flexy-nav">
  <div id="flexy-nav__toggle" class="menuButton" (click)="onClick()">
    <span style="margin-top: 5px;" class="icon-bar"></span>
    <span style="margin-top: 5px;"class="icon-bar"></span>
    <span style="margin-top: 5px;" class="icon-bar"></span>
  </div>
  <ul id="flexy-nav__items" class = "flexy-nav__items">
    <li class="flexy-nav__item"><a href="#" class="flexy-nav__link">New Game</a></li>
    <li class="flexy-nav__item"><a href="#" class="flexy-nav__link">Start</a></li>
    <li class="flexy-nav__item"><a href="#" class="flexy-nav__link">Pause</a></li>
    <li class="flexy-nav__item"><a href="#" class="flexy-nav__link">Higth Score</a></li>
  </ul>
</nav>