<main style="width:480px; margin:0 auto;">
    <app-menu-panel></app-menu-panel>
    <div id='main' *ngIf="condition">
        <rect-comp [row]="20" [column]="10"></rect-comp>
    </div>
    <div id='view' *ngIf="condition" >
        <app-previe-rect [row]="4" [column]="4"></app-previe-rect>
    </div>
    <div id="score" *ngIf="condition">
        <value-comp></value-comp>
    </div>
    <div  *ngIf="condition">
      <button style="margin-top: 230px; margin-left: 46px;" (click) = "onUp()">
        <img src="./assets/upward.png" width="25" height="25"/>
      </button><br>
      <button style="margin-top: 5px" (click) = "onLeft()">
        <img src="./assets/back.png" width="25" height="25"/>
      </button>
      <button (click) = "onDown()">
        <img src="./assets/download.png" width="25" height="25"/>
      </button>
      <button (click) = "onRigth()">
        <img src="./assets/forward.png" width="25" height="25"/>
      </button>
    </div>
    <app-table-high-score id='scoretable' *ngIf="!condition"></app-table-high-score>
    <app-popup-game-over *ngIf="gameOver"></app-popup-game-over>
</main>
