#main {
    margin-top: 10px;
    float: left;
    width: 270px;
}

#view {
    margin-top: 10px;
}

#score {
    margin-top: 0px;
}

#scoretable {
    margin-top:300px;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}