
<div class="flex-container">
  
  <div class="row">
    <app-menu-panel></app-menu-panel>
    <div class="flex-container-row">
      <rect-comp [row]="20" [column]="10"></rect-comp>
      <div class="flex-column">
        <value-comp></value-comp>
        <app-previe-rect [row]="4" [column]="4"></app-previe-rect>
        <div style="margin-top: 30px">
          <button class="button-up" (click) = "onUp()">
            <img class="img-size" src="./assets/upward.png"/>
          </button><br>
          <button (click) = "onLeft()">
            <img class="img-size" src="./assets/back.png"/>
          </button>
          <button (click) = "onDown()">
            <img class="img-size" src="./assets/download.png"/>
          </button>
          <button (click) = "onRigth()">
            <img class="img-size" src="./assets/forward.png"/>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="game-over-center">
    <app-popup-game-over></app-popup-game-over>
  </div>-->
</div>
    <!--<div id='main' *ngIf="condition">
        <rect-comp [row]="20" [column]="10"></rect-comp>
    </div>
    <div id='view' *ngIf="condition" >
        <app-previe-rect [row]="4" [column]="4"></app-previe-rect>
    </div>
    <div id="score" *ngIf="condition">
        <value-comp></value-comp>
    </div>
    <div  *ngIf="condition">
      <button style="margin-top: 230px; margin-left: 46px;" (click) = "onUp()">
        <img src="./assets/upward.png" width="25" height="25"/>
      </button><br>
      <button style="margin-top: 5px" (click) = "onLeft()">
        <img src="./assets/back.png" width="25" height="25"/>
      </button>
      <button (click) = "onDown()">
        <img src="./assets/download.png" width="25" height="25"/>
      </button>
      <button (click) = "onRigth()">
        <img src="./assets/forward.png" width="25" height="25"/>
      </button>
    </div>
    <app-table-high-score id='scoretable' *ngIf="!condition"></app-table-high-score>
    <app-popup-game-over *ngIf="gameOver"></app-popup-game-over>
</main>-->
