black_overlay {
  display: none;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: flex;
  border: 16px solid orange;
  background-color: white;
  height: 200px;
  z-index: 1002;
  overflow: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}