<div id="light" class="white_content">
  <div>GAME OVER</div>
  
  <div>
    <div>Level: {{valueScore.level}}</div>
    <div>Line:  {{valueScore.lines}}</div>
    <div>Score: {{valueScore.point}}</div>
  </div>
  
  <form >
    <input (keyup)="onKey($event)" style="margin-left: 5px; margin-right: 5px;" type="text" placeholder="Enter you name!" required><br>
    <button type="submit" style="margin-left: 50px; margin-top: 5px;" (click)="onSave()" [disabled] = "">Save score</button>
 </form>
</div>

